html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
  }
  
  *, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  body {
    display: block;
    position: relative;
    font-family: Spartan;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5625rem;
    padding: 0;
    margin: 0;
    color: white;
  }
  
  body a {
    text-decoration: none;
  }
  
  body ul {
    list-style: none;
  }
  
  .sky {
    background-color: #070724;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -10;
  }
  
  .shootingstars {
    display: block;
    position: fixed;
    width: 150vh;
    height: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
    -webkit-transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
            transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);